.ant-layout[data-v-3512a65b] {
  height: 100%;
}
#components-layout-demo-fixed .logo[data-v-3512a65b] {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}